{% extends 'base.html' %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">

<section class="bg-gradient-to-r from-green-50 via-green-100 to-green-200 min-h-screen py-12 px-8">
    <div class="max-w-6xl mx-auto">
        <!-- Back Link -->
{#        <a href="{% url 'recipes' %}" class="text-lg text-green-700 font-medium mb-6 block hover:text-green-900">#}
{#            &lt; Back to Recipe Listing#}
{#        </a>#}

        <!-- Recipe Header Section -->
        <div class="flex flex-col md:flex-row items-center gap-6 mb-12">
            <div class="flex-shrink-0 w-48 h-48 md:w-64 md:h-64 rounded-lg overflow-hidden shadow-lg">
                <img src="{{ recipe.image }}" alt="{{ recipe.title }}" class="w-full h-full object-cover rounded-lg"/>
            </div>
            <div class="flex flex-col justify-center items-start text-center md:text-left">
                <h1 class="text-3xl font-extrabold text-green-800">{{ recipe.title }}</h1>
                <a href="{{ recipe.re }}" class="text-sm text-green-600 hover:text-green-800 mt-2 font-semibold" target="_blank">View Full Recipe on Source</a>
            </div>
        </div>

        <!-- Recipe Ingredients and Instructions Section -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <!-- Ingredients Section -->
            <div class="space-y-2">
                <h2 class="text-xl font-semibold text-green-700 mb-4">Ingredients</h2>
                <ul class="list-disc pl-2 space-y-2">
                    {% for ingredient in recipe.ingredients %}
                        <li class="text-green-800 font-medium">{{ ingredient.name }} ({{ ingredient.amount }} {{ ingredient.unit }})</li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Divider -->
            <!-- <div class="hidden md:block border-l-2 border-green-400 h-auto mx-2"></div> -->

            <!-- Instructions Section -->
            <div class="space-y-2">
                <h2 class="text-xl font-semibold text-green-700 mb-4">Instructions</h2>
                <div class="prose text-green-800" style="line-height: 1.8;">
                    {{ recipe.instructions|safe }}
                </div>
            </div>
        </div>
    </div>
</section>

{% if error %}
    <div class="max-w-6xl mx-auto mt-8 p-4 bg-red-100 text-red-700 text-center rounded-lg">
        <p>{{ error }}</p>
    </div>
{% endif %}
{% endblock %}
